<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" aria-label="Main navigation" th:fragment="nav-front">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Mornings With Us</a>
		<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Notifications</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Switch account</a>
				</li>
			</ul>
		</div>
	</div>
</nav>


<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" aria-label="Main navigation" th:fragment="nav-admin">
	<div class="container-fluid">
		<a class="navbar-brand" href="/" target="_blank">Mornings With Us - Admin</a>
		<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/pages">Pages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/categories">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/products">Products</a>
				</li>
			</ul>
		</div>
	</div>
</nav>